strong {
    color: red;
}

.text {
    color:blue;
}

#text-pink {
    color:pink;
}

div p {
    color:grey;
}

.desc.title {
    color:orange;
}

ol > li {
    color:green;
}

div + p {
    color:purple;
}

* {
    font-style:normal;
}

p ~ span {
    color:aquamarine;
}

a[target] {
    color:gold;
}

label:hover {
    color:lime;
}

[value="text-becomes-lime"] {
    color:lime;
}